<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threehyun.cosomi.signUp.dao.SignUpMapper">

    <select id="userAccountDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM TUSERACCOUNT
        WHERE USER_EMAIL = #{USEREMAIL};
    </select>

    <insert id="userAccountIns" parameterType="com.threehyun.cosomi.signUp.controller.dto.SignUpUserDto" >
        INSERT INTO TUSERACCOUNT( USER_EMAIL    ,USER_PWD
                                 ,USER_NAME     ,USER_PHONE
                                 ,USER_REGDATE  ,USER_SOCIAL
                                 ,USER_STATE    ,USER_SEQ)
        VALUES(  #{userEmail}   ,#{userPwd}
                ,#{userName}    ,#{userPhone}
                ,SYSDATE()      ,#{userSocial}
                ,#{userState}   ,(SELECT MAX(USER_SEQ)+1 FROM TUSERACCOUNT T1));
    </insert>

</mapper>